<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.dao.AssetMapper">
    <resultMap id="BaseResultMap" type="com.study.bean.Asset">
		<result column="user_name" jdbcType="VARCHAR" property="user_name" />
		<result column="user_code" jdbcType="VARCHAR" property="user_code" />
		<result column="product_name" jdbcType="VARCHAR" property="product_name" />
		<result column="product_code" jdbcType="VARCHAR" property="product_code" />
		<result column="limit_time" jdbcType="VARCHAR" property="limit_time" />
		<result column="account" jdbcType="DECIMAL" property="account" />
		<result column="risk" jdbcType="CHAR" property="risk" />
		<result column="status" jdbcType="CHAR" property="status" /> 
		<result column="buy_time" jdbcType="VARCHAR" property="buy_time" />
		<result column="plan_income" jdbcType="DOUBLE" property="plan_income" />   
	</resultMap>	
	<select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from asset where user_code=#{user_code,jdbcType=VARCHAR} 
	</select>
</mapper>