<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.dao.OrderMapper">
    <insert id="insert" parameterType="com.study.bean.Order">
		insert into Order(id,user_code,product_name,product_code,reference_income,limit_time,buy_amount,price,buy_time,risk,status)
		values (
		#{id,jdbcType=VARCHAR},
		#{user_code,jdbcType=VARCHAR},
		#{product_name,jdbcType=VARCHAR},
		#{product_code,jdbcType=VARCHAR},
		#{reference_income,jdbcType=DOUBLE},
		#{limit_time,jdbcType=VARCHAR},
		#{buy_amount,jdbcType=VARCHAR},
		#{price,jdbcType=DOUBLE},	
		#{buy_time,jdbcType=VARCHAR},
		#{risk,jdbcType=CHAR},
		#{status,jdbcType=CHAR}	
		)
	</insert>
</mapper>