/* CSS Document */
/* CSS banner Mall@GTJA */


/* banner main */
.banner{
	text-align: center;
	margin-top: 40px;
	height:400px;
	background:#d6e2ed;
}
.banner-center{
	width:1000px;
	height:400px;
	margin:auto;
}

/* banner images */
.banner-images{
	width:1000px;
	height:400px;
}

/* banner footer, grey bar downside, for posting */
.banner-footer{
	position:relative;
	width:100%;
	height:40px;
	margin-top: -40px;
	background-color: #000;
	opacity: 0.4;
	z-index:10;
}
.banner-footer div#content{width:1000px; margin:auto;}
.banner-footer img{ float:left; margin:8px 0 0 5px;}
.banner-footer p{color:#fff; font-size:12px; float:left; margin:10px 0 0 10px;}

/* banner sticker, white square right, for actions */
.banner-sticker{
	position:relative;
	z-index:10;
	height:280px;
	width:250px;
	background-color: #fff;
	opacity:0.9;
	float:right;
	margin-top:-340px;
}

.banner-sticker h2.price{
	margin-top:28px;
	font-size:24px;
	color:#666;
}
.banner-sticker h5.info{
	margin-top:50px;
	font-size:14px;
	color:#999;
}
.banner-sticker h4.guide{
	margin-top:10px;
	font-size:14px;
	color:#f99325;
}
.banner-sticker img.exc{
	margin-top:22px;
}
.banner-sticker img.guide{
	position:absolute;
	margin-top:10px;
	left:70px;
}
.banner-sticker .banner-sticker-footer{
	height:44px;
	bottom:0px;
	margin-top:30px;
	border-top:1px solid #d8d8d8;
}

