<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/cache  
        http://www.springframework.org/schema/cache/spring-cache.xsd  ">
	<!-- 需要监控扫描的包 -->
	<context:component-scan base-package="com.study.controller" />
	<context:component-scan base-package="com.study.common" />
	<context:component-scan base-package="com.study.service" />
	<!--spring mvc 使用direct/forward -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	</bean>

	<!-- 缓存配置(两种) -->
	<!-- 启用缓存注解功能(请将其配置在Spring主配置文件中) -->
	<cache:annotation-driven cache-manager="cacheManager" />
	<!-- Spring自己的基于java.util.concurrent.ConcurrentHashMap实现的缓存管理器(该功能是从Spring3.1开始提供的) -->
	<!-- <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager"> 
		<property name="caches"> <set> <bean name="myCache" class="org.springframework.cache.concurrent.ConcurrentMapCacheFactoryBean"/> 
		</set> </property> </bean> -->
	<!-- 若只想使用Spring自身提供的缓存器,则注释掉下面的两个关于Ehcache配置的bean,并启用上面的SimpleCacheManager即可 -->
	<!-- Spring提供的基于的Ehcache实现的缓存管理器 -->
	<bean id="cacheManagerFactory"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="/WEB-INF/config/ehcache.xml" />
	</bean>
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="cacheManagerFactory" />
	</bean>

	<!-- 避免浏览器执行AJAX时,返回JSON出现下载文件 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean id="fastJsonHttpMessageConverter"
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 格式化数据配置 -->
	<mvc:annotation-driven conversion-service="conversionService" />
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="formatters">
			<list>
				<bean class="com.study.common.DateFormatter">
					<constructor-arg type="java.lang.String" value="yyyy-MM-dd" />
				</bean>
			</list>
		</property>
	</bean>

	<!-- 静态文件访问控制 -->
	<mvc:resources mapping="/resource/**" location="/WEB-INF/resource/" />
	<mvc:resources mapping="/*.html" location="/WEB-INF/html/" />
	<mvc:default-servlet-handler />

	<!--配置拦截器, 多个拦截器,顺序执行 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- /**的意思是所有文件夹及里面的子文件夹 /*是所有文件夹，不含子文件夹 /是web项目的根目录 -->
			<mvc:mapping path="/**" />
			<!-- 需排除拦截的地址 -->
			<mvc:exclude-mapping path="/*.html" />
			<mvc:exclude-mapping path="/resource/**" />
			<mvc:exclude-mapping path="/" />
			<mvc:exclude-mapping path="/index" />
			<mvc:exclude-mapping path="/otc" />
			<mvc:exclude-mapping path="/buy" />
			<mvc:exclude-mapping path="/protocol" />
			<mvc:exclude-mapping path="/account_Login" />
			<mvc:exclude-mapping path="/account_Reg" />
			<mvc:exclude-mapping path="/logout" />
			<mvc:exclude-mapping path="/ajaxAccount_login" />
			<mvc:exclude-mapping path="/Error.ftl" />
			<mvc:exclude-mapping path="/codeConfirm" />
			<mvc:exclude-mapping path="/getPublicKey" />
			<!-- 自定义的Interceptor -->
			<bean id="LoginInterceptor" class="com.study.common.LoginInterceptor"></bean>
		</mvc:interceptor>
		<!-- 当设置多个拦截器时，先按顺序调用preHandle方法，然后逆序调用每个拦截器的postHandle和afterCompletion方法 -->
	</mvc:interceptors>

</beans>